<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
</head>
<body>
    <ul>
        {% for product in product %}
        <li>
            <h2>{{product.name}}</h2>
            <p>{{product.description}}</p>
            <p>Price: KShs. {{product.price}}</p>
            <img src="{{product.image.url}}" alt="{{product.name}}">
            <p>Available: {{product.availability|yesno:"Yes,No"}}</p>
        </li>
        {% endfor %}
    </ul>    
    {% comment %} <a href="{% url 'product_list' %}" class="back-link">Go back</a> {% endcomment %}
</body>
</html>